@media (max-width:600px){
    /* タイトル　レスポンシブ */
        /* 上部を少しあける */
        .title-wrapper{
            padding-top: 25px;
            margin-right:0px;
        }
        /* タイトル全体　角度のばらつき　これによって下との間隔も変える */
           /* 元の角度解除 */
            .degree-21{
                transform: unset;
                padding-bottom: initial;
            }
            .degree-13{
                transform: unset;
                padding-bottom: initial;
            }
            .degree19{
                transform: unset;
                padding-bottom: initial;
            }
            /* スマホ用の角度と間隔　スマホでは右か左かで決めている */
            .degree9{
                transform: rotateZ(-9deg);
                padding-bottom: 20px;
            }
            .degree17{
                transform: rotateZ(17deg);
                padding-bottom: 50px;
                position: relative;
                top:5vh;
            }
            
    
        /* タイトルの中身のパーツ */
            /* サブタイトル　サイズ */
            .sub-title{
                font-size: 10px;
                font-weight:600;
            }
            /* メインタイトル　前の文字　サイズ*/
            .main-frontTitle{
                font-size: 30px;
            }
            /* メインタイトル　前文字　縁取り */
            .main-frontTitle{
                -webkit-text-stroke: 1px;
            }
            /* メインタイトル　後ろ文字　上下位置とサイズ */
            .main-backTitle{
                font-size: 30px;
                top:43px;
            }
            /* メインタイトル　後ろ文字　左右位置　右側か左側か */
            .backTitle-right{
                right:3px;
            }
            .backTitle-left{
                left:-3px;
            }
    
    
    
    
    /* セクション1　レスポンシブ */
           .s1{
             width:360px;
             height:640px;
             display: none;
        
           }
            .img-S1{
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-53%, -56%);
        
           }
    
            .s1-2{
             display: block; 
           }
    
    
            .s1-textbox1{
              position: absolute;
              top: 115px;
              left: 20px;
              color: #FFFFFF;
              font-size: 30px;
              font-weight: 600;
              width: 188px;
            }
    
            .s1-textbox2{
             position: absolute;
             top: 270px;
             color: #FFFFFF;
             font-size: 15px;
             font-weight: 600;
             left: 20px;
    
            }
    
            .s1-textbox3{
             position: absolute;
             top: 450px;
             color: #FFFFFF;
             font-size: 30px;
             font-weight: 600;
             width: 334px;
             left:20px; 
            }
    
    
            /*スマホでは有効*/
            .px_hid{
             display: block;
            }
    
             /*スマホでは無効*/
            .pc_hid2{
             display: none; 
            }
    
            .s1-2-1{
             position: absolute; 
             top: 10px; 
             left: 120px;
             z-index: 3;
            }
    
            .s1-2-2{
             position: absolute;
             top: 25px;
             left: 130px;
             z-index: 2;
            }
    
            .s1-2-3{
             position: absolute;
             top: 70px;
             left: 170px;
             z-index: 3;
            }
    
            .s-1-text4{
             position: absolute;
             font-size: 15px;
             font-weight: 600;
             font-family: 'Hiragino Kaku Gothic ProN'; 
             color: #FFFFFF;
             top: -45px;
             left: 45px;
            }
    
            .s1-1-2-4{
             width: 150px;
             position: absolute;
             top: 0px;
             left: -99px;
            }
    
            .s-1-text5{
             color: #FFFFFF;
             font-family: 'Hiragino Kaku Gothic ProN';
             font-size: 15px;
             font-weight: 600;
             position: absolute;
             left: 5px;
            }
    
    
    /* セクション２　レスポンシブ */
           
            
      
            .s2-2b2{
                width:240px;
                font-size: 18px;
            }        
            .s2-3b2{
                width:324px;
                font-size:16px;
                font-weight: 300;
            }
            .s2-2c2 , .s2-3c2{
                font-size: 20px;
                font-weight:900;
                line-height: 100%;
    
            }
     
    
        /* 次のセクションとの間隔調整 */
        .s2{
            padding-bottom:60px;
        }   
        /* セクション２　上部 */
        .s2-b1{
            width:240px;
            font-size: 17px;
            line-height: 150%;
        }
        .s2-2b1{
            width: 150px;
            height:105px;
        }
        .s2-3b1{
            width:324px;
            font-size: 23px;
            height:auto;
        }
    
    
    
    
    /* セクション3 レスポンシブ*/
    
            .topbox{
             display: flex;
             flex-direction: column;
            }
    
            .botombox{
             top: 0px;
             left:60px;
            }
    
            .s3{
                height: 2280px;   
               }
    
    
            .s3-c1{
                top: 50px;
                
            }
    
            .s3-a2{
             max-width: 100%;
             position: relative;
             top: 0%;
            }
    
            .s3-a3 {
             width: 250px;
             position: relative;
             top: 2%;
             font-family:'ヒラギノ角ゴシック';
             font-size: 16px;
             font-weight: 300;
    
            }    
    
            .s3-a4{
            position: absolute;
            width: 90px;    
            height: 125px;
            top:70%;
            } 
        
            .s3-b2{
            margin: 20px;
            width:283px;
            height: 350px;
        
            }
    
            .allbox{
            right:12%;
            top: 5vh;
            }
    
    
            .boxnumber{
            font-family: "Hiragino Kaku Gothic";   
            font-size: 25px;
            font-size: 600;
            position: absolute;
            top: -12%;
            right: 20px;
            }
    
            .boxtext{
             padding: 220px 0;
            }
    
            .whitecircle{
              position: absolute;
              top: 50px;
              right:50px;
            }
    
            .boximages{
              position: absolute;
              top: 55px;
              right:37px;
            }
    
    
    
    
    
    /* セクション４ レスポンシブ*/
            /* 次のセクションとの間隔調整 */
            .s4{
                padding-bottom:60px;
            }
            /* 事例ごとのブロック高さ */
            .s4-a2 ,.s4-a3{
                padding-top:10px;
                height:820px;
            }
            /* 事例ごとの二行の文章 */
            .s4-b2, .s4-2b2 , .s4-b3, .s4-2b3{
                margin-bottom:15px;
                font-size: 15px;
                line-height:50px;
            }
            /* 携帯用画像の切り抜き 一つ目*/
            .s4-3b2{
                margin-top:10px;
            }
            .s4-c2{
                width:360px;
                height:616px;
                object-position: 88% 0%;
            }
            .s4-4b2{
                width:267px;
                height:287px;
                opacity:0.1;
                position:absolute;
                right:18px;
                top:520px;
                opacity:0.47;
            }
            .s4-5b2{
                width:230px;
                right:38px;
                top:510px;
                color:white;
            }
            /* 携帯用画像の切り抜き 二つ目*/
            .s4-3b3{
                margin-top:10px;
                width:360px;
                height:615px;
            }
            .s4-c3{
                zoom:0.61;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-53%, -56%);
                }
            .s4-4b3{
                width:270px;
                height:287px;
                opacity:0.47;
                position:absolute;
                left:18px;
                top:510px;
            }
            .s4-5b3{
                width:230px;
                height:3250px;
                left:38px;
                top:510px;
                color:white;
            }
    
    /* セクション5 レスポンシブ */
          
           .s5{
               height: 1480px;
               background: -moz-linear-gradient(top, #fff,#EA5D23 40%,  #FFFFFF);
               background: -webkit-linear-gradient(top, #fff,#EA5D23 40%, #FFFFFF);
               background: linear-gradient(to bottom, #fff,#EA5D23 40%, #FFFFFF);
            }
    
           .project-wrapper{
               flex-wrap: wrap;
           }
    
            .s5-b2{
              position: relative;
              top: 5vh;  
              left: 7px;
            }
    
           .s5-b3{
             display: flex;
             flex-wrap: wrap;
             position:relative;
             top: 20vh;
             left: 6px;
           }
    
       
    
    /* セクション６ レスポンシブ */
           .s6{
               height:880px;
               background: linear-gradient(to bottom, rgba(255,255,255,0.57), rgba(227,247,191,0.57) 45%, rgba(211,230,178,0.57) 60%, rgba(224,244,189,0.57) 70%, rgba(255,255,255,0.57));
           }
            .s6-b2{
                position:absolute;
                top:140px;
            }
            .s6-c2{
                width:324px;
            }
            .s6-2b2{
                display:none;
            }
            .s6-3b2{
                width:274px;
                height:auto;
                padding:10px 30px 40px 30px;
                position:absolute;
                top:80px;
                left:50%;
                transform:translate(-50%);
                margin-top:260px;
                margin-right:auto;
                margin-left:auto;
                z-index: 4;
            }
            .s6-2c2{
                font-size:18px;
            }
            .s6-3c2{
                font-size:16px;
                font-weight:300;
            }
            .shatyo-name{
                font-size: 18px;
                right:10%;
                margin-top:5px;
            }
            .s6-4b2{
                position:absolute;
                top:715px;
                left:auto;
                right:2%;
                z-index: 5;
            }
            .s6-4c2{
                width:80px;
                height:100px;
            }
    
    /* セクション７　レスポンシブ */
        /* 上部アイコンとメッセージ */
        .s7-a2{
            height:auto;
        }
        .s7-b2{
            align-self: flex-end;
            left:auto;
            right:18px;
        }
        .s7-c2{
            width:97px;
            height:110px;
        }
        .s7-2b2{
            width:220px;
            height:90%;
            margin-left:20px;
            font-size:12px;
            font-weight: 300;
        }
    
        /* フォーム全体 */
        .s7-a3{
            max-width:324px;
        }
        /*フォーム一行　１、２、３、４、5、６つ目 */
        .s7-b3 , .s7-2b3 , .s7-3b3 , .s7-4b3 , .s7-5b3 , .s7-6b3{
            padding-top:0px;
        }
        /* フォーム一行 ３、４、５、６つ目　向きを変えて左端に揃える*/
        .s7-3b3 , .s7-4b3 , .s7-5b3 , .s7-6b3{
            flex-direction: column;
            align-items:flex-start;
        }
        /* フォーム右側（右側が二つあるやつ）　１、２つ目 入力欄の幅を変えて、間の微調整*/
        .s7-2c3 , .s7-3c3 , .s7-5c3 , .s7-6c3{
            width:100%;
            max-width:143px;
            height:47.5px;
        }
        .s7-3c3 , .s7-6c3{
            margin-left:28px;
        }
        .btn_send{
            width:218px;
            height:36px;
            margin: 20px auto; 
            font-size: 18px;
        }
    
    /* セクション８　レスポンシブ */
            .s8-a1{
                width:60px;
                height:60px;
                border-radius: 50%;
                background-color:rgb(227,247,191);
                position:fixed;
                bottom:20px;
                right:20px;
            }
            .s8-b1{
                text-align: center;
                position:absolute;
                top:50%;
                transform:translateY(-45%);
                font-size: 15px;
                line-height: 120%;
                font-family:"Hiragino Kaku Gothic ProN",sans-serif;
                text-decoration: none;
                color:black;
            }
        }