/* すべて */
*{box-sizing: border-box;}

/* セクション２の上部 */
.s2-a1{
    text-align: center;
}    

.s2-b1{
    width:375px;
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
    font-family: "ヒラギノ角ゴシック";
    font-weight: 600;
    line-height: 200%;

}
.s2-2b1{
    width:250px;
    height:175.78px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
}   

.s2-3b1{
    width:540px;
    height: 70px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right: auto;
    padding:10px;
    background-color:rgb(244,97,36);
}


/* セクション２の下部 */
.s2-a2{
    padding-top:100px;
    position: relative;
}
.s2-b2{
    width:auto;
    border-bottom: 2px solid rgb(244,97,36);
    padding-bottom: 10px;
    color:rgb(244,97,36); 
    position: absolute;
    left:10px;
    transform: rotateZ(-13deg);
}
.s2-c2{
    font-size: 25px;
    font-weight:600;
    margin-top: 0px;
    margin-bottom:0px;
}
.s2-2c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
    color:white;
    -webkit-text-stroke: 2px rgb(244,97,36); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    right:7px;
    z-index: -1;
}
.s2-3c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
}
.s2-2b2{
    width:375px;
    margin-top:150px;
    margin-left:auto;
    margin-right: auto;
    font-size: 25px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}
.s2-3b2{
    width: 430px;
    margin-left:auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}


.s1{
    width: 100%;
    height: 100vh;
    }
    
.s1 img { 
    width: 100%; 
    height: 100vh;
    }
    
    
body{
    margin:0
    }
    
.s3{
    width: 100%;
    height: 1280px;
    background-color:#85ff00; opacity:0.11;
    text-align: center;
    }
    
.s3-a1{
    display: inline-block;
    width: 250px;
    height:350px; 
    }
    
    
.s3 div{
    background: #000;
    position:relative;
    top:400px;
    width: 25%;
    text-align: center;
    margin:1%;
    }
    
    
    
.s3 P{
    position: absolute;
    top: 0;
    left:20px;
    font-size:60px;
    transform:rotate(30deg); 
    }
    


@media (max-width:600px){
       .s2-b1{
            font-size: 15px;
            line-height: 150%;
        }
        .s2-2b1{
            width: 150px;
            height:105px;
        }
        .s2-3b1{
            width:250px;
            height:auto;
        } 
       
    }