/* すべて */
*{box-sizing: border-box;}


/* セクション２の上部 */
.s2-a1{
    text-align: center;
}    

.s2-b1{
    width:375px;
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
    font-family: "ヒラギノ角ゴシック";
    font-weight: 600;
    line-height: 200%;

}
.s2-2b1{
    width:250px;
    height:175.78px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
}   

.s2-3b1{
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
    padding:0 30px;
    background-color:rgb(244,97,36);
    font-size: 25px;
    font-weight:600;
    line-height:75px;
    color:white;
}


/* セクション２の下部 */
.s2-a2{
    padding-top:100px;
    position: relative;
}
.s2-b2{
    width:auto;
    border-bottom: 2px solid rgb(244,97,36);
    padding-bottom: 10px;
    color:rgb(244,97,36); 
    position: absolute;
    left:10px;
    transform: rotateZ(-13deg);
}
.s2-c2{
    font-size: 25px;
    font-weight:600;
    margin-top: 0px;
    margin-bottom:0px;
}
.s2-2c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
    color:white;
    -webkit-text-stroke: 2px rgb(244,97,36); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    left:-7px;
    z-index: -1;
}
.s2-3c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
}
.s2-2b2{
    width:375px;
    margin-top:150px;
    margin-left:auto;
    margin-right: auto;
    font-size: 25px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}
.s2-3b2{
    width: 430px;
    margin-left:auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}

/* セクション1 */    
.s1{
    width: 100%;
    height: 100vh;
    }
    
.s1 img { 
    max-width: 100%; 
    height:100vh;
    }
    
    
body{
    margin:0
    }

/* セクション3 */    
.s3{
    max-width: 100%;
    height: 1280px;
    background-color:rgba(227, 247,196,0.57);
    position:relative;
    }


.s3-a2{
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    }

.s3-a2 div{
    position: relative; 
    top: 430px; 
    margin: auto;
    text-align: right;
       
    }


.s3-a3{
position: relative;
text-align: center;
top:500px;
font-family: "ヒラギノ角ゴシック";
}    


.s3-b2{
    width: 250px;
    height:320px;
    background-color:#E3F7BF
}


.s3-c1{
        transform: rotateZ(13deg);
        color:rgb(24, 163, 11);
        border-bottom: 2px solid rgb(24, 163, 11);
        position: absolute;
        right: 0;
        text-align: left;
        top: 200px;
        margin-right: 10px;
    }

.s3-c2{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.s3-2c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:10px;
    padding-bottom:5px;
    color:white;
    -webkit-text-stroke: 2px rgb(24, 163, 11); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    right:7px;
    z-index: -1
}

.s3-3c2{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:15px;
}



.s3-a4{
position: relative;
left:70%;
top:20%;
width:200px;
}


/* セクション４ */
.s4{
    padding-top:100px;
    position:relative;
}
    /* セクション４タイトル */
.s4-a1{
    width:auto;
    border-bottom: 2px solid rgb(244,97,36);
    padding-bottom: 10px;
    color:rgb(244,97,36); 
    position: absolute;
    left:10px;
    transform: rotateZ(-21deg);
}
.s4-b1{
    font-size: 25px;
    font-weight:600;
    margin-top: 0px;
    margin-bottom:0px;
}
.s4-2b1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
    color:white;
    -webkit-text-stroke: 2px rgb(244,97,36); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    left:-7px;
    z-index: -1;
}
.s4-3b1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
}
    /* セクション４ タイトル以外　一つ目　一部二つ目も共通*/
.s4-a2 , .s4-a3{
    position:relative;
    height:1200px;
}
.s4-b2, .s4-2b2{
    display:inline-block;
    margin:15px 0;
    padding:0 30px;
    background-color:rgb(244,97,36);
    font-size: 25px;
    font-weight:600;
    line-height:75px;
    color:white;
}
.s4-3b2{
    margin-top:30px;
    position:absolute;
    right:0px;
}
.s4-c2{
width:765px;
height:700px;
object-fit: cover;
object-position: 100% 50%
}
.s4-4b2{
    width:371px;
    height:736px;
    background-color:rgb(244,97,36);
    opacity:0.1;
    position:absolute;
    right:550px;
    top:440px;
}
.s4-5b2{
    width:430px;
    font-size:15px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    text-align:center;
    position:absolute;
    right:400px;
    top:980px;
}
    /* セクション４ タイトル以外　二つ目*/
.s4-b3, .s4-2b3{
    display:inline-block;
    margin:15px 0;
    padding:0 30px;
    background-color:rgb(244,97,36);
    font-size: 25px;
    font-weight:600;
    line-height:75px;
    color:white;
}
.s4-3b3{
    margin-top:30px;
    position:absolute;
    left:0px;
}
.s4-c3{
    width:765px;
    height:700px;
    object-fit: cover;
    object-position: 50% 20%;
    }
.s4-4b3{
    width:371px;
    height:736px;
    background-color:rgb(244,97,36);
    opacity:0.1;
    position:absolute;
    left:550px;
    top:440px;
}
.s4-5b3{
    width:430px;
    font-size:15px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    text-align:center;
    position:absolute;
    left:400px;
    top:980px;
}

/* セクション5 */
.s5{
  position: relative;
  background:rgba(244, 97, 36, 0.1);
  height: 1280px;
  display: flex;

  
}
/* セクション5タイトル */
.s5-a1{
  width: auto;
  border-bottom: 2px solid #F46124;
  padding-bottom: 10px;
  color: #F46124;
  position: absolute;
  transform:rotateZ(21deg);
  right: 0;
  text-align: left;
  top: 100px;
  margin-right: 5px;
}

.s5-b1{
  font-size:25px;
  font-weight :600px;
  margin-top:0;
  margin-bottom:0;
  

}

.s5-1b2{
    width: 344px;
    height: 72px;
    line-height:72px;
    background: -moz-linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    background: -webkit-linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    background: linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    text-align: center;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    position: absolute;
    top: 0px;
  }

/* セクション5　左BOX */
.s5-1b3{
   position: relative; 
   bottom: 1.5vh;
   color:#FFFFFF;
   font-family: "Hiragino Kaku Gothic";
   font-size: 21px;
   font-weight: 600; 
   display:inline-block;
   vertical-align: middle;
   line-height:normal;

}

.s5-2b1{
  font-size: 50px;
  font-weight:900;
  line-height: 100%;
  margin-top: 0px;
  margin-bottom:10px;
  padding-bottom:5px;
  color:white;
  -webkit-text-stroke: 2px #F46124;/* webkitのベンダープレフィックス */
  position: absolute;
  top:47px;
  right:35px;
  z-index: -1

}


.s5-3b1{
   font-size: 50px;
   font-weight:900;
   line-height: 100%;
   margin-top: 0px;
   margin-bottom:0px;
   padding-bottom:5px;
   position: relative;
   left: 25px;

}


.s5-a2{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  margin-left: auto;
  margin-right: auto;
}

.s5-b2{
  width: 346px;
  height: 546px;
  background-color:white;
  position:relative;
  border: 1px solid black; /* 境界線を実線で指定 */
  border-radius: 20px; /* ボックスの四つ角を丸くする */
  top: 500px;

}

.s5-2b2{
  width: 346px;
  height: 72px;
  background-color: #EB9A18;
  text-align: center;
  border-radius: 20px; /* ボックスの四つ角を丸くする */
  position: absolute;
  top: 0px;
}

/* セクション5　右BOX */
.s5-b3{
    width: 346px;
    height: 546px;
    background-color:white;
    position:relative;
    border: 1px solid black; /* 境界線を実線で指定 */
    border-radius: 20px; /* ボックスの四つ角を丸くする */
    top: 500px;
    margin-right: auto;
    }


.s5-2b3{
    width: 344px;
    height: 72px;
    line-height: 72px;
    background-color: #EB9A18;
    background: -moz-linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    background: -webkit-linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    background: linear-gradient(top left, #EB9A18,#ED812D 30%, #EF703C 60%, #B93201); 
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0px;
    }
        

.s5-2b3-2{
   position: relative;  
   bottom: 1.5vh;
   color:#FFFFFF;
   font-family: "Hiragino Kaku Gothic";
   font-size: 21px;
   font-weight: 600;
   display:inline-block;
   vertical-align:middle;
   line-height: normal;
}

/* セクション5 BOX6個 */
.s5-1b4{
  width: 91px;
  height: 29px;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 15px;
  border: 2px solid #F46124; /* 境界線を実線で指定 */
  border-radius: 5px; /* ボックスの四つ角を丸くする */
}


.s5-2b4{
  font-family: "Hiragino Kaku Gothic";
  color: #F46124;
  font-size: 12px;
  text-align: center;
  height:0px;
  line-height:0px;
  font-weight: 600;
}

.s5-1b5{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 85px;
    left: 120px;
    border: 2px solid #B93201; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
}
    
    
.s5-2b5{
    font-family: "Hiragino Kaku Gothic";
    color: #B93201;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
}

.s5-1b6{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 85px;
    left: 225px;
    border: 2px solid #86BE2E; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
 }
        
        
.s5-2b6{
    font-family: "Hiragino Kaku Gothic";
    color: #86BE2E;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
}


.s5-1b7{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 15px;
    border: 2px solid #F46124; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
}
            
            
.s5-2b7{
    font-family: "Hiragino Kaku Gothic";
    color: #F46124;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
}


.s5-1b8{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 120px;
    border: 2px solid #546F29; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
}
                    
                    
.s5-2b8{
    font-family: "Hiragino Kaku Gothic";
    color: #546F29;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
}

.s5-1b9{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 225px;
    border: 2px solid #F49C24; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
}
                            
                            
.s5-2b9{
    font-family: "Hiragino Kaku Gothic";
    color: #F49C24;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
}

/* セクション5 リスト */
.s5-1b10{
    position: absolute;
    top: 150px;
    left:-10px;
}

.s5-1b10 li{
   font-family:"Hiragino Kaku Gothic";
   font-size: 13px;
   font-weight: 600;
}


.s5-1b11{
    width: 218px;
    height: 36px;
    background-color: #B93201;
    position: absolute;
    bottom:15px;
    left: 15%; 
    
}

.s5-1b11-2{
  text-align: center;  
  height:0px;
  line-height:0px;  
  font-family: "Hiragino Kaku Gothic";
  font-size:18px;
  font-weight: 600;
  color: white;

}


.s5-2b11{
  color: #F46124;   
  font-weight: 600;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-2b12{
  color: #F46124; 
  font-weight: 600;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-2b13{
  font-weight: 300;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-2b14 {
    font-family: "Hiragino Kaku Gothic";
    font-size: 18px;
    width: 330px;
    font-weight: 300;
    margin: 5px;
    position: relative;
    right: 25px;

}

 ul li{
  list-style-type: none;   
}

 li::before{
    position: relative;
    top: 2px;
    left: -18px;
   
    display: inline-block;
   
    width: 15px;
    height: 15px;
   
    content: '';
   
    border-radius: 100%;
    background:black;
  }

/* セクション5 BOX6個 2個目 */  

.s5-3b3{
    width: 91px;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 85px;
    left: 15px;
    border: 2px solid #F46124; /* 境界線を実線で指定 */
    border-radius: 5px; /* ボックスの四つ角を丸くする */
  }
  
  
  .s5-3b3-2{
    font-family: "Hiragino Kaku Gothic";
    color: #F46124;
    font-size: 12px;
    text-align: center;
    height:0px;
    line-height:0px;
    font-weight: 600;
  }
  
  .s5-4b3{
      width: 91px;
      height: 29px;
      background-color: white;
      position: absolute;
      top: 85px;
      left: 120px;
      border: 2px solid #B93201; /* 境界線を実線で指定 */
      border-radius: 5px; /* ボックスの四つ角を丸くする */
  }
      
      
   .s5-4b3-2{
      font-family: "Hiragino Kaku Gothic";
      color: #B93201;
      font-size: 12px;
      text-align: center;
      height:0px;
      line-height:0px;
      font-weight: 600;
  }
  
  .s5-5b3{
      width: 91px;
      height: 29px;
      background-color: white;
      position: absolute;
      top: 85px;
      left: 225px;
      border: 2px solid #86BE2E; /* 境界線を実線で指定 */
      border-radius: 5px; /* ボックスの四つ角を丸くする */
   }
          
          
  .s5-5b3-2{
      font-family: "Hiragino Kaku Gothic";
      color: #86BE2E;
      font-size: 12px;
      text-align: center;
      height:0px;
      line-height:0px;
      font-weight: 600;
  }

  
  .s5-6b3{
      width: 91px;
      height: 29px;
      background-color: white;
      position: absolute;
      top: 125px;
      left: 15px;
      border: 2px solid #F46124; /* 境界線を実線で指定 */
      border-radius: 5px; /* ボックスの四つ角を丸くする */
  }
              
              
   .s5-6b3-2{
      font-family: "Hiragino Kaku Gothic";
      color: #F46124;
      font-size: 12px;
      text-align: center;
      height:0px;
      line-height:0px;
      font-weight: 600;
  }
  
  
  .s5-7b3{
      width: 91px;
      height: 29px;
      background-color: white;
      position: absolute;
      top: 125px;
      left: 120px;
      border: 2px solid #546F29; /* 境界線を実線で指定 */
      border-radius: 5px; /* ボックスの四つ角を丸くする */
  }
                      
                      
  .s5-7b3-2{
      font-family: "Hiragino Kaku Gothic";
      color: #546F29;
      font-size: 12px;
      text-align: center;
      height:0px;
      line-height:0px;
      font-weight: 600;
  }
  
  .s5-8b3{
      width: 91px;
      height: 29px;
      background-color: white;
      position: absolute;
      top: 125px;
      left: 225px;
      border: 2px solid #F49C24; /* 境界線を実線で指定 */
      border-radius: 5px; /* ボックスの四つ角を丸くする */
  }
                              
                              
  .s5-8b3-2{
      font-family: "Hiragino Kaku Gothic";
      color: #F49C24;
      font-size: 12px;
      text-align: center;
      height:0px;
      line-height:0px;
      font-weight: 600;
  }

 /* セクション5 リスト 2個目*/

.s5-9b3{
    position: absolute;
    top: 150px;
    left:-10px;
}

.s5-9b3 li{
   font-family:"Hiragino Kaku Gothic";
   font-size: 13px;
   font-weight: 600;
}



.s5-10b3{
  color: #F46124;   
  font-weight: 600;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-11b3{
  color: #F46124; 
  font-weight: 600;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-12b3{
  font-weight: 300;
  font-size: 12px;
  margin: 7px;
  position: relative;
  right: 25px;
}

.s5-13b3{
    font-family: "Hiragino Kaku Gothic";
    font-size: 18px;
    width: 330px;
    font-weight: 300;
    margin: 5px;
    position: relative;
    right: 25px;

}

.s5-14b3{
    width: 218px;
    height: 36px;
    background-color: #B93201;
    position: absolute;
    bottom:15px;
    left: 15%; 
    
}

.s5-14b3-2{
  text-align: center;  
  height:0px;
  line-height:0px;  
  font-family: "Hiragino Kaku Gothic";
  font-size:18px;
  font-weight: 600;
  color: white;

}

 ul li{
  list-style-type: none;   
}

 li::before{
    position: relative;
    top: 2px;
    left: -18px;
   
    display: inline-block;
   
    width: 15px;
    height: 15px;
   
    content: '';
   
    border-radius: 100%;
    background:black;
  }
     
    

/* セクション６ */
.s6{
    position:relative;
    background-color: rgba(227, 247,196,0.57);
    height:1312px;
}
    /* セクション6タイトル */
.s6-a1{
    width:auto;
    border-bottom: 2px solid rgb(134,190,46);
    padding-bottom: 10px;
    color:rgb(134,190,46); 
    position: absolute;
    left:10px;
    top:60px;
    transform: rotateZ(-21deg);
}
.s6-b1{
    font-size: 25px;
    font-weight:600;
    margin-top: 0px;
    margin-bottom:0px;
}
.s6-2b1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
    color:white;
    -webkit-text-stroke: 2px rgb(134,190,46); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    left:-7px;
    z-index: -1;
}
.s6-3b1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
}
.s6-b2{
    position:absolute;
    top:300px;
    left:250px;
}
.s6-2b2{
    width:773px;
    height:1072px;
    background-color:rgb(67,95,23);
    opacity:0.39;
    position:absolute;
    left:420px;
    top:190px;
    z-index: -1;
}
.s6-3b2{
    width:712px;
    height:auto;
    padding:10px 141px 10px 141px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    text-align:center;
    position:absolute;
    left:330px;
    top:650px;
    background-color:white;
}
.s6-2c2{
    font-size: 25px;
    font-weight:600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}
.s6-3c2{
    font-size: 15px;
    font-weight: 600;
    font-family: 'ヒラギノ角ゴシック';
    line-height: 150%;
}
.s6-4b2{
    position:absolute;
    top:900px;
    left:940px;
}

/* セクション７ */
    /* セクション７　タイトル */
.s7-a1{
    height:150px;
    padding-top:40px;
    position: relative;
}
.s7-b1{
    width:auto;
    border-bottom: 2px solid rgb(244,97,36);
    padding-bottom: 10px;
    color:rgb(244,97,36); 
    position: absolute;
    right:20px;
    transform: rotateZ(21deg);
}
.s7-c1{
    font-size: 25px;
    font-weight:600;
    margin-top: 0px;
    margin-bottom:0px;
    text-align: end; /*右側タイトル用　左側の場合は不要*/
}
.s7-2c1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    color:white;
    -webkit-text-stroke: 3px rgb(244,97,36); /* webkitのベンダープレフィックス */
    position: absolute;
    top:47px;
    left:-7px;
    z-index: -1;
}
.s7-3c1{
    font-size: 50px;
    font-weight:900;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:5px;
    -webkit-text-stroke: 3px rgb(244,97,36);
}

    /* セクション７　上段 */
.s7-a2{
    height:230px;
    display:flex;
    align-items: center;
    position:relative;
}
.s7-b2{
    position:absolute;
    left:170px;
}
.s7-2b2{
    width:430px;
    height:80%;
    margin-left:500px;
    font-weight: 600;
}
.s7-2b2-2{
    width:160px;
    height:80%;
    margin-left:50px;
    font-weight: 300;
    font-size:12px;
    display:none;        
}


/* フォーム */
    /* フォーム全体 */
.s7-a3{
    max-width:790px;
    margin-right:auto;
    margin-left:auto;
}
    /* フォーム一行　１、２、３、４つ目　　５つ目はpadding弱め */
.s7-b3 , .s7-2b3 , .s7-3b3 , .s7-4b3 , .s7-6b3{
    display: flex;
    align-items: center;
    width:100%;
    padding:20px 5px;
    border-bottom: 3px solid rgb(112, 112, 112);
}
.s7-5b3{
    display: flex;
    align-items: center;
    width:100%;
    padding:15px 5px;
    border-bottom: 3px solid rgb(112, 112, 112);
}

    /* フォーム一行　１、2つ目 　スマホ用（PC版では反応しないのでここに置いている）*/
.s7-b3 , .s7-2b3{
    flex-wrap: wrap;
}

        /* フォームの左側　１、２、３、４、５、６つ目 */
.s7-c3 , .s7-4c3 , .s7-7c3 , .s7-9c3 , .s7-11c3 , .s7-13c3{
    width:100%;
    max-width:250px;
    font-size:15px;
    font-weight:300;
    font-family: 'ヒラギノ角ゴシック';
}
         /*フォームの右側　１、２つ目  ＋　入力欄の右側だけマージンつける*/
.s7-2c3 , .s7-3c3 , .s7-5c3 , .s7-6c3{
    width:100%;
    max-width:240px;
    height:47.5px;
}
.s7-3c3 , .s7-6c3{
    margin-left:40px;
}
        /*フォームの右側　３、４つ目*/
.s7-8c3 , .s7-10c3{
    width:100%;
    max-width:521px;
    height:47.5px;
}
        /*フォームの右側　5つ目の中身*/
.s7-6d3 , .s7-7d3 , .s7-8d3{
    margin-top:0px;
    margin-bottom:0px;
}
        /* フォームの右側　６つ目 */
.s7-14c3{
    width:100%;
    max-width:521px;
    height:207.5px;
}

        /* フォームの必須表示 ２、３、４、５、６つ目*/
.s7-d3 , .s7-2d3 , .s7-3d3 , .s7-4d3 , .s7-5d3 , .s7-9d3{
    display: inline-block;
    height:18px;
    width: 46px;
    background-color:rgb(244,97,36);
    text-align: center;
    color:white;
    font-size: 12px;
    line-height: 18px;
    margin-right:20px;
}
        /* フォームの送信 */
.btn_send{
    display:block;
    width:350px;
    height:60px;
    margin: 30px auto; 
    background-color:rgb(185, 50, 1);
    font-size: 30px;
    color:white;
    font-weight:600;
}
/* セクション８ */
.s8-a1{
    width:120px;
    height:120px;
    border-radius: 50%;
    background-color:rgb(227,247,191);
    position:fixed;
    bottom:50px;
    right:50px;
}
.s8-b1{
    text-align: center;
    position:absolute;
    top:50%;
    transform:translateY(-45%);
    font-size: 30px;
    line-height: 120%;
    font-family:"Hiragino Kaku Gothic ProN",sans-serif;
    text-decoration: none;
    color:black;
}


/* ここからスマホ用レスポンシブデザイン */
/* ここからスマホ用レスポンシブデザイン */
/* ここからスマホ用レスポンシブデザイン */
@media (max-width:600px){

/* セクション２　レスポンシブ */
       .s2-b1{
            width:auto;
            font-size: 15px;
            line-height: 150%;
        }
        .s2-2b1{
            width: 150px;
            height:105px;
        }
        .s2-3b1{
            width:250px;
            height:auto;
        }

        .s3{
         height: 2800px;   
        }

        .s1 img{
          max-width: 100%;
          height: 100vh
        }


        .s3-a2{
            display:flex;
            flex-flow: column;
            width: 150px;
            position: relative;
            right:50px;
            font-family: "ヒラギノ角ゴシック";
        }

        .s3-c1{
            top: 50px;
            
        }
        .s3-a2 div{
           top:300px;
           text-align: right;

        }

        .s3-a3{
            position: relative;
            top:400px;
        }

        .s3-a4{
        position: relative;
        width: 150px;    
        left:50%;
        top:16%;

        } 
        .s2-2b2{
            width:250px;
        }        
        .s2-3b2{
            width:280px;
        }
        .s2-2c2 , .s2-3c2{
            font-size: 20px;
            font-weight:900;
            line-height: 100%;
        }

/* セクション４ レスポンシブ*/
        .s4-a2 ,.s4-a3{
            height:900px;
        }
        .s4-b2, .s4-2b2 , .s4-b3 , .s4-2b3{
            margin:10px 0;
            padding:0 15px;
            font-size: 15px;
            line-height:30px;
            color:white;
        }
        .s4-b2{
            width:240px;
        }
        .s4-2b2{
            width:320px;
        }
        /* 携帯用画像の切り抜き */
        .s4-c2{
            width:360px;
            height:616px;
            object-position: 88% 0%;
        }
        .s4-4b2{
            width:300px;
            height:300px;
            background-color:rgb(244,97,36);
            opacity:0.1;
            position:absolute;
            right:40px;
            top:300px;
        }
        .s4-5b2{
            width:300px;
            height:300px;
            right:50px;
            top:300px;
            color:white;
        }

        .s4-b3{
            width:240px;
        }
        .s4-2b3{
            width:320px;
        }
        /* 携帯用画像の切り抜き */
        .s4-c3{
            width:360px;
            height:615px;
            object-position: 50% 100%;
        }
        .s4-4b3{
            width:300px;
            height:300px;
            background-color:rgb(244,97,36);
            opacity:0.1;
            position:absolute;
            left:40px;
            top:300px;
        }
        .s4-5b3{
            width:300px;
            height:300px;
            left:50px;
            top:300px;
            color:white;
        }

/* セクション5 レスポンシブ */
      
       .s5{
           display: flex;
           flex-wrap: wrap;
           height: 1800px;
       }

        .s5-b2{
          position: relative;
          top: 60vh;  
        }

       .s5-b3{
         display: flex;
         flex-wrap: wrap;
         position:relative;
         top: 30vh;
         left: 6px;

       }

   

/* セクション６ レスポンシブ */
        .s6-b2{
            position:absolute;
            top:30px;
            left:20px;
        }
        .s6-c2{
            width:330px;
        }
        .s6-2b2{
            width:360px;
            height:640px;
            position:static;
        }
        .s6-3b2{
            width:280px;
            padding:10px 10px 10px 10px;
            position:static;
            margin-top:260px;
            margin-right:auto;
            margin-left:auto;
        }
        .s6-4b2{
            position:absolute;
            top:200px;
            left:280px;
        }
        .s6-4c2{
            width:40px;
            height:60px;
        }

        /* セクション７　レスポンシブ */
            /* セクション７　タイトル */
        .s7-a1{
            height:100px;
            padding-top:20px;
            position: relative;
        }
        .s7-b1{
            width:auto;
            border-bottom: 1px solid rgb(244,97,36);
            padding-bottom: 5px;
            color:rgb(244,97,36); 
            position: absolute;
            right:10px;
            transform: rotateZ(13deg);
        }
        .s7-c1{
            font-size: 10px;
            font-weight:600;
            margin-top: 0px;
            margin-bottom:0px;
            text-align: end; /*右側タイトル用　左側の場合は不要*/
        }
        .s7-2c1{
            font-size: 30px;
            font-weight:900;
            line-height: 100%;
            margin-top: 0px;
            margin-bottom:0px;
            color:white;
            -webkit-text-stroke: 1px rgb(244,97,36); /* webkitのベンダープレフィックス */
            position: absolute;
            top:20px;
            left:-4px;
            z-index: -1;
        }
        .s7-3c1{
            font-size: 30px;
            font-weight:900;
            line-height: 100%;
            margin-top: 0px;
            margin-bottom:0px;
            padding-bottom:3px;
            -webkit-text-stroke: 1px rgb(244,97,36);
        }

            /* 上部アイコンとメッセージ */
        .s7-a2{
            height:120px;
            background-color: red;
        }
        .s7-b2{
            left:auto;
            right:18px;
        }
        .s7-c2{
            width:97px;
            height:110px;
        }
        .s7-2b2{
            display:none;
        }
        .s7-2b2-2{
            display:block;
        }
             /* フォーム全体 */
        .s7-a3{
            max-width:324px;
        }
            /*フォーム一行　１、２、３、４、5、６つ目 */
        .s7-b3 , .s7-2b3 , .s7-3b3 , .s7-4b3 , .s7-5b3 , .s7-6b3{
            padding-top:0px;
        }
            /* フォーム一行 ３、４、５、６つ目　向きを変えて左端に揃える*/
        .s7-3b3 , .s7-4b3 , .s7-5b3 , .s7-6b3{
            flex-direction: column;
            align-items:flex-start;
        }
            /* フォーム右側（右側が二つあるやつ）　１、２つ目 入力欄の幅を変えて、間の微調整*/
        .s7-2c3 , .s7-3c3 , .s7-5c3 , .s7-6c3{
            width:100%;
            max-width:143px;
            height:47.5px;
        }
        .s7-3c3 , .s7-6c3{
            margin-left:28px;
        }
        .btn_send{
            width:218px;
            height:36px;
            margin: 20px auto; 
            font-size: 18px;
        }

        /* セクション８　レスポンシブ */
        .s8-a1{
            width:60px;
            height:60px;
            border-radius: 50%;
            background-color:rgb(227,247,191);
            position:fixed;
            bottom:20px;
            right:20px;
        }
        .s8-b1{
            text-align: center;
            position:absolute;
            top:50%;
            transform:translateY(-45%);
            font-size: 15px;
            line-height: 120%;
            font-family:"Hiragino Kaku Gothic ProN",sans-serif;
            text-decoration: none;
            color:black;
        }
    }